<div id="player-{{number}}-insert" class="player-insert">
    Player {{number}} insert:
    <div id="player-{{number}}-name">
        Player Name: 
        <input id="player-{{number}}-text" type="text" hidden="false">
        <button id="toggle-player-{{number}}" type="button">NONE</button>
    </div>
    <div class="player-faction">
        Player Faction Name: 
        <input type="text">
    </div>
    <div class="player-board">
        Player Board Name: 
        <input type="text">
    </div>
    <div class="player-coins">
        Player Coins: 
        <input type="text">
    </div>
    <div class="player-popularity">
        Player Popularity (0-18): 
        <input type="text">
    </div>
    <div class="player-stars">
        Player Stars (0-6): 
        <input type="text">
    </div>
    <div class="player-tiles">
        Player Tiles: 
        <input type="text">
    </div>
    <div class="player-resources">
        Player Resources: 
        <input type="text">
    </div>
</div>