<tr>
    <td id="playerID">{{playerIDDisplay}}</td>
    <td id="playerName">{{playerNameDisplay}}</td>
    <td id="gamesPlaye">{{playerGamesPlayedDisplay}}</td>
    <td id="playerGamesWon">{{playerGamesWonDisplay}}</td>
    <td class="delete">
        <button onclick="deletePlayer('{{playerID}}')">Delete</button>
    </td>
</tr>