<tr>
    <th> {{playerID}} </th>
    <th>{{playerName}}</th>
    <th>{{playerGamesPlayed}}</th>
    <th>{{playerGamesWon}}</th>
    <th id="delete-row-{{playerID}}" class="delete-row"><button type="button">Delete</button></th>
</tr>